{% include "frontend/head.twig" %}
{% include "frontend/navigation.twig" %}
        <main class="clearfix">
            {% if incidents is not empty %}
                <div class="container mt20">
                    <div class="alert alert-info">
                        Currently we have {{ incidents|length }} issues on Website. For more information look at <a target="_blank" href="https://status.gameserver-sponsor.me">status.gameserver-sponsor.me</a>
                    </div>
                </div>
            {% endif %}
            {% block pageContainerWrapper %}
                <div class="container{% if incidents is empty %} mt20{% endif %}" id="main-content">
                    {% block pageContainer %}
                        {% block menuDesktop %}{% endblock %}
                        {% block pageContent %}{% endblock %}
                    {% endblock %}
                </div>
            {% endblock %}
        </main>
        {% if User is empty %}
            <div class="modal fade modal-login" id="modalLogin">
                <div class="modal-dialog">
                    <div class="modal-content pa20">
                        <img class="center-block mb20" width="153" src="{{ baseUrl }}src/img/logo.png" />
                        <span class="block text-center fz-20 fw-300 mv10 txt-white">{{ __('Willkommen. Bitte logge dich ein', 'WelcomeLogin', 'Layout') }}</span>
                        <div class="ph20">
                            <div class="clearfix">
                                <div class="row mb5">
                                    <div class="col-md-6 pr5-md mb5-xs">
                                        <a class="btn btn-fb btn-block text-uppercase mb" href="{{ baseUrl }}oauth"><i class="ion-social-facebook"></i></a>
                                    </div>
                                    <div class="col-md-6 pl5-md">
                                        <a class="btn btn-go btn-block text-uppercase mb" href="{{ baseUrl }}oauth?service=google"><i class="ion-social-googleplus"></i></a>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 pr5-md mb5-xs">
                                    <a class="btn btn-twitch btn-block text-uppercase mb" href="{{ baseUrl }}oauth?service=twitch"><i class="ion-social-twitch-outline"></i></a>
                                </div>
                                <div class="col-md-6 pl5-md">
                                    <a class="btn btn-discord btn-block text-uppercase mb" href="{{ baseUrl }}oauth?service=discord">
                                        <svg width="12" id="Layer_1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 245 240"><style>.st0{fill:#FFFFFF;}</style><path class="st0" d="M104.4 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1.1-6.1-4.5-11.1-10.2-11.1zM140.9 103.9c-5.7 0-10.2 5-10.2 11.1s4.6 11.1 10.2 11.1c5.7 0 10.2-5 10.2-11.1s-4.5-11.1-10.2-11.1z"/><path class="st0" d="M189.5 20h-134C44.2 20 35 29.2 35 40.6v135.2c0 11.4 9.2 20.6 20.5 20.6h113.4l-5.3-18.5 12.8 11.9 12.1 11.2 21.5 19V40.6c0-11.4-9.2-20.6-20.5-20.6zm-38.6 130.6s-3.6-4.3-6.6-8.1c13.1-3.7 18.1-11.9 18.1-11.9-4.1 2.7-8 4.6-11.5 5.9-5 2.1-9.8 3.5-14.5 4.3-9.6 1.8-18.4 1.3-25.9-.1-5.7-1.1-10.6-2.7-14.7-4.3-2.3-.9-4.8-2-7.3-3.4-.3-.2-.6-.3-.9-.5-.2-.1-.3-.2-.4-.3-1.8-1-2.8-1.7-2.8-1.7s4.8 8 17.5 11.8c-3 3.8-6.7 8.3-6.7 8.3-22.1-.7-30.5-15.2-30.5-15.2 0-32.2 14.4-58.3 14.4-58.3 14.4-10.8 28.1-10.5 28.1-10.5l1 1.2c-18 5.2-26.3 13.1-26.3 13.1s2.2-1.2 5.9-2.9c10.7-4.7 19.2-6 22.7-6.3.6-.1 1.1-.2 1.7-.2 6.1-.8 13-1 20.2-.2 9.5 1.1 19.7 3.9 30.1 9.6 0 0-7.9-7.5-24.9-12.7l1.4-1.6s13.7-.3 28.1 10.5c0 0 14.4 26.1 14.4 58.3 0 0-8.5 14.5-30.6 15.2z"/></svg>
                                    </a>
                                </div>
                            </div>
                            <div class="or text-uppercase">oder</div>
                            <form action="{{ path('login') }}" method="post" onsubmit="return false;">
                                <div class="input-group mb10">
                                    <span class="input-group-addon"><i class="ion-person"></i></span>
                                    <input name="_username" type="text" class="form-control" placeholder="{{ __('Username oder Email-Adresse', 'UsernameOrEmail', 'Layout') }}">
                                </div>
                                <div class="form-group mb10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="ion-locked"></i></span>
                                        <input name="_password" type="password" class="form-control" placeholder="{{ __('Passwort', 'Password', 'Layout') }}">
                                    </div>
                                </div>
                                <div class="form-group clearfix mb30">
                                    <input type="checkbox" name="_remember_me" id="loggedin" value="1" class="pull-left"> <label for="loggedin" class="pull-left forgot ml5">{{ __('Eingeloggt bleiben', 'StayLoggedin', 'Layout') }}?</label>
                                    <a href="{{ baseUrl }}user/reset" class="forgot pull-right">{{ __('Passwort Vergessen?', 'ForgotPassword', 'Layout') }}</a>
                                </div>

                                <button class="btn btn-success btn-block text-uppercase">{{ __('Einloggen', 'Login', 'Layout') }}</button>
                            </form>

                            <div class="mt15">
                                <a href="{{ baseUrl }}register" class="btn btn-default btn-block btn-sign text-uppercase">{{ __('Noch kein Mitglied? Registriere dich jetzt!', 'RegisterText', 'Layout') }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        <footer>
            <div class="container">
                <div class="row pv10">
                    <div class="col-sm-4 col-xs-6">
                        <p class="inline-block ma0 pv10">
                            {{ "now"|date("Y") }} © Gameserver-Sponsor <a class="underline" href="{{ baseUrl }}changelog">v{{ version }}</a>
                        </p>
                    </div>
                    <div class="col-sm-4 col-xs-12 hidden-xs">
                        <img class="center-block" src="{{ preload(asset('src/img/footerlogo.png'), { as: 'image' }) }}">
                    </div>
                    <div class="col-sm-4 col-xs-6">
                        <div class="pull-right mt5">
                            <span class="block ma0">
                                <a href="{{ baseUrl }}impressum">
                                    {{ __('Impressum', 'Impress', 'Layout') }}
                                </a>
                            </span>
                            <span class="block">
                                <a href="{{ baseUrl }}datenschutz">
                                    {{ __('Datenschutzbestimmungen', 'Privacy', 'Layout') }}
                                </a>
                            </span>
                        </div>
                    </div>
                </div>

            </div>
            <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700" rel="stylesheet">
            {% block footerJs %}
                <script>
                    var gs3Config = {{  getJSData() }};
                    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":null,"theme":"dark-bottom"};
                    window.onDocumentReady = function () {
                        {{ getNotfications() }}
                    };
                </script>
                <script async src="{{ preload(asset('src/gs3.min.js', 'static'), { as: 'script' }) }}"></script>
                <script async src='https://www.google.com/recaptcha/api.js'></script>
                {% if app.environment == "prod" %}
                    <script async type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/1.0.9/cookieconsent.min.js"></script>
                    <script type="text/javascript">
                        var _paq = _paq || [];
                        _paq.push(['trackPageView']);
                        _paq.push(['enableLinkTracking']);
                        (function() {
                            var u="https://track.gameserver-sponsor.me/";
                            _paq.push(['setTrackerUrl', u+'track']);
                            _paq.push(['setSiteId', '1']);
                            var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                            g.type='text/javascript'; g.async=true; g.defer=true; g.src=u+'app.js'; s.parentNode.insertBefore(g,s);
                        })();
                    </script>
                    <noscript><p><img src="https://track.gameserver-sponsor.me/track?idsite=1" style="border:0;" alt="" /></p></noscript>
                {% endif %}
            {% endblock %}
        </footer>
    </body>
</html>