{% extends "frontend/layout.twig" %}

{% block pageContent %}
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="mt10">{{ __('Aktivierungscode erneut anfordern', 'ActiveCodeResend', 'User') }}</h2>
    </div>
    <div class="panel-body">
        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button class="btn btn-primary pull-right">{{ __('Anfordern', 'Request', 'User') }}</button>
        {{ form_end(form) }}
    </div>
</div>
{% endblock %}